.home{background-color:green;
     font-size:34px;
padding:100px;
text-align:justify;
      
  }
.button{background-color:black;
 margin:15px;
 padding:20px;
       color:white;
     border-radius:10px;
     
       }
.navbar{background-color:#d1e2f0;

border-radius:none;}
.navbar li{padding:15px 15px;
list-style:none;
margin:10px 10px;
float:left;
}
.navbar li:hover{
    color:white;
 
    background-color:#03192b ;
}
.navbar ul{overflow:auto;}
.navbar li a {padding:15px 15px;
text-decoration:none;
color:black;
}
.navbar li a:hover{color:white;}
