.home{background-color:green;
     font-size:34px;
padding:100px;
text-align:justify;
      
  }
.button{background-color:black;
 margin:15px;
 padding:20px;
       color:white;
     border-radius:10px;
     
       }
.navbar{background-color:#d1e2f0;

border-radius:none;}
.navbar li{padding:15px 15px;
list-style:none;
margin:10px 10px;
float:left;
}
.navbar li:hover{
    color:white;
 
    background-color:#03192b ;
}
.navbar ul{overflow:auto;}
.navbar li a {padding:15px 15px;
text-decoration:none;
color:black;
}
.navbar li a:hover{color:white;}
.figure{background-color:yellow;
font-size:34px;
padding:100px;
}

@media  (min-width:701px) and (max-width: 900px) {.home{ padding:75px; font-size:20px;}.button{padding:10px;}.figure{padding:75px; font-size:20px;}
    

}
@media  (max-width:700px){.home{padding:50px; font-size:15px;}.button{padding:10px;}.figure{padding:50px; font-size:15px;}
    
}
@media  (min-width:1800px) and (max-width: 2500px){.home{padding:125px; font-size:45px;}.button{padding:25px;}.figure{padding:125px; font-size:45px;}#myimg{width:500px;}#img{width:500px;}
}
@media  (min-width:2500px){.home{padding:175px; font-size:100px;}.button{padding:30px;}.figure{padding:175px; font-size:100px;}#myimg{width:800px;}#img{width:800px;}
    


    

}
@media  (min-width:1400px) and (max-width: 1800px){.home{padding:125px; font-size:40px;}.button{padding:20px;}.figure{padding:125px; font-size:40px;} #img{width:300px;}#myimg{width:300px;}
   
}
